.errorMessage{
  color:red;
  font-weight: bold;
  text-align: left;
}
.featName{
  text-align: left;
}

.featDescription{
  text-align: left;
  text-indent:3vw;
  flex: 1;
}
.featCard{
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.20);
}

.featDiv{
  width: stretch;
  height: 100%;  
}
.featDescriptionAndButtons{
  display: flex;
  flex-direction: row;  
  justify-content: stretch;
}
.featButtons{
  border: 1px solid black;
  align-self: flex-end;
  justify-content: end;
  max-width: 20vw;
}
.featButtonsClassname.expanded{
  display: none;
}