.playerInformationLabel,
.characterDetailsLabel,
.characterAbilityScoresLabel,
.characterVitalsLabel,
.characterCombatStatsLabel,
.characterInitiativeLabel,
.characterSkillsLabel,
.characterFeatsAbilitiesNotesLabel{
  display: flex;
  text-align: start;
  height: 5vh;
  font-weight: bold;
}

.arrowContainer{
  max-height: 100%;
}
.rightArrowImg {
  max-height: 65%;
  padding-right: 2vw;
}
.downArrowImg {
  max-height: 65%;
  padding-right: 2vw;
  display: none;
}

.playerInformation,
.characterDetails,
.characterAbilityScores,
.characterVitals,
.characterInitiative,
.characterSkills{
  display: none;
  flex-direction: row;
  align-items: stretch;
}

/*************************/
/*  Ability Score Rules  */
/*************************/
  .strengthLabel,
  .dexterityLabel,
  .constitutionLabel,
  .intelligenceLabel,
  .wisdomLabel,
  .charismaLabel{
    flex: 1;
    display: flex;
  }
    .strengthAbbreviation,
    .dexterityAbbreviation,
    .constitutionAbbreviation,
    .intelligenceAbbreviation,
    .wisdomAbbreviation,
    .charismaAbbreviation{
      display: none;
    }
    .strengthComplete,
    .dexterityComplete,
    .constitutionComplete,
    .intelligenceComplete,
    .wisdomComplete,
    .charismaComplete{
      display: flex;
      align-items: center;
    }
  .strengthOutput, 
  .dexterityOutput,
  .constitutionOutput,
  .intelligenceOutput,
  .wisdomOutput,
  .charismaOutput{
    display: flex;
  }
  .strengthTotal, 
  .dexterityTotal,
  .constitutionTotal,
  .intelligenceTotal,
  .wisdomTotal,
  .charismaTotal{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .strengthMod, 
  .dexterityMod,
  .constitutionMod,
  .intelligenceMod,
  .wisdomMod,
  .charismaMod{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .strengthDetails, 
  .dexterityDetails,
  .constitutionDetails,
  .intelligenceDetails,
  .wisdomDetails,
  .charismaDetails{
    min-width:5vw;
  }

.characterHPs{
  display: flex;
  flex: 1;
}

/*************************/
/*   Combat Stat Rules   */
/*************************/
.characterCombatStats,
.characterFeatsAbilitiesNotes{
  display: none;
  flex-direction: column;
  align-items: stretch;
}

.characterAttackModifiers,
.characterArmorClassAndDefense,
.characterSavingThrows{
  display: flex;
}
  .meleeComplete,
  .rangedComplete,
  .combatManeuverBonusComplete,
  .armorClassComplete,
  .flatFootedArmorClassComplete,
  .touchArmorClassComplete,
  .combatManeuverDefenseComplete,
  .fortitudeSaveComplete,
  .reflexSaveComplete,
  .willSaveComplete,
  .initiativeComplete,
  .speedComplete{
    display: none;
  }
  .meleeAbbreviation,
  .rangedAbbreviation,
  .combatManeuverBonusAbbreviation,
  .armorClassAbbreviation,
  .flatFootedArmorClassAbbreviation,
  .touchArmorClassAbbreviation,
  .combatManeuverDefenseAbbreviation,
  .fortitudeSaveAbbreviation,
  .reflexSaveAbbreviation,
  .willSaveAbbreviation,
  .characterReviewAbbreviation{
    min-width: 20vw;
  }
  .characterReviewOutput{
    /* display: flex; */
  }
    .meleeTotal,
    .rangedTotal,
    .combatManeuverBonusTotal,
    .armorClassTotal,
    .flatFootedArmorClassTotal,
    .touchArmorClassTotal,
    .combatManeuverDefenseTotal,
    .fortitudeSaveTotal,
    .reflexSaveTotal,
    .willSaveTotal,
    .initiativeTotal,
    .speedTotal,
    .characterReviewTotal{
      flex: 1;
    }
    .combatDetailsButton{
      align-self: right;
    }

.characterWeaponsSpecialAttacks{
}

.hide{
  display: none;
}
.expand{
  display: flex;
}
.characterReviewLabelsCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.characterReviewOutputsCol{
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.characterReviewLabel{
  text-align: start;
}
.characterReviewOutput{
/*   display: flex;
  flex-direction: row; */
}

.featsAndAbilitesLabel{
  font-weight: bold;
  text-align: start;
}