.abilityScoreTable{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statTable{
  width: 75%;
}
.abilityHeader{
  font-weight: bold;
  font: 110%;
}
.statTableDataLabel{
  text-align: left;
}
.statTableData{
  width:20%;
}