.newCharacterContainer{
  margin:3vw;
  border: 2px dotted black;
  height: 100%;
}
ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-align: center;
}
li {
  list-style-type: none;
  display: inline;
  padding:10px;
}
.toggle{
  width:100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: black;
  font-size: 20px;
  display:none;
}
.toggleView{
  padding: 10px 20px;
}
.flexContianer{
  /* display:flex;
  align-items: center;
  text-align: center; */
}
/* .newCharacterDataContainer{
  border:1px solid black;
  max-width: 70%;
  min-width: 50%;
  margin: 0 auto;
  padding: 2vh;
  text-align: center; 
}  */
.navButtonWrapper{
  /* border:1px solid black; */
  margin: 0 auto;
}
.mobileNavFooter{
  display:none;
}

@media (max-width:600px)
{
  .flexContianer{
    display: flex;
    flex-flow: column;
    /* box-sizing: border-box;
    width: 150px;
    border: 5px solid blue;
    align-self: center;
    background-color: red;
    display: flex;
    flex-flow: column;
    max-height: 100%; */
  }
  .toggle{
    display: block;
  }
  .toggleView{
    display:none;
  }
  .navButtonWrapper{
    display:none;
  }
  ul{
    width:100%;
  }
  ul li{
    display:block;
    text-align: center;
  }
  .active{
    display:block;
  }
  .newCharacterDataContainer{
    /* max-width: 60%; */
    flex: 1;
    overflow-y: auto;
    max-height: 95%;
  }
  .mobileNavFooter{
    display:block;
  }
}